/* @font-face {
  font-family: 'MyFont';
  src: url('./fonts/Neuton.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
} */

:root{
  --green1: #d9ed92;
  --green2: #b5e48c;
  --green3: #99d98c;
  --green4: #76c893;
  --blue1: #52b69a;
  --blue2: #34a0a4;
  --blue3: #168aad;
  --blue4: #1a759f;
  --blue5: #1e6091;
  --blue6: #184e77;

  --purp: #950740;
  --light-purp: #c3073f;
  --dark-purp: #6f2232;
  --grey: #4e4e50;
  --black: #1a1a1d;
  font-family: sans-serif;
}

body{
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--blue5);
  height: 14vh;
  top: 0; left: 0; right: 0;
  color: var(--black);

}

#main{
  display: flex;
  height: 80vh; 
}

#nav{
  background-color: var(--blue3) ;
  flex: 0 0 20vw;
  order: -1;
  padding: 1rem;
}

#inbox{
  display: flex;
}

#inboxIcon{
  margin-right: 1rem;
}

#today{
  display: flex;
}

#todayIcon{
  margin-right: 1rem;
}

#thisWeek{
  display: flex;
}

#thisWeekIcon{
  margin-right: 1rem;
}

#projects li{
  display: grid;
  grid-template-columns: 20% 70% 10%;
  border-radius: 2rem;
  border: 1pt dotted var(--blue6);
}

.noHover{
  pointer-events: none;
}

#nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

#nav li{
  margin: 1rem;
  padding: 1rem;
  font-weight: bold;
  color: var(--black);
}

#nav li:hover{
  background: var(--blue4);
  color: black;
}

#nav ul:nth-child(2){
  margin-left: 1rem;
}

#projectTitle{
  font-family: sans-serif;
  /* height */
}

#addProject{
  display: flex;
}

#addProjectIcon{
  margin-right: 1rem;
}

#article{
  display: flex;
  justify-content: center;
  background: var(--green4);
  padding: 3rem;
  flex: 1;
  color: var(--black);
}

#content{
  background-color: var(--green2) ;
  height: 80%;
  width: 90%;
  padding: 1rem;
  border-radius: 1rem;
}

#content ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}

#content li{
  margin: .5rem;
  padding: .5rem;
  font-weight: bold;
}

#content li:hover{
  background: var(--green3);
}

#content ul{
  margin-left: 2rem;
}

#todoTitle{
  margin-left: -0.1rem !important;
  font-size: 2rem;
}

#todoTitleSort{
  align-self:center;
}

#todoTitleUL{
  display: grid;
  grid-template-columns: 75% 15%;
}

#todoDisplay li{
  border-radius: 0.75rem;
  border-bottom: 1px solid var(--green4);
}

#todoDisplay li:hover{
  background-color: var(--green3);
  color: black;
}

.userTask{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2% 70% 2% 2% 15%;

}

.hide{
  display: none !important;
}


#addTask{
  display: flex;
  align-items: center;
}

#addTask:hover{
  color: black;
}

#addLogo{
  margin-right: 0.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue2);
  padding: 1rem;
}

#title{
  font-size: 4rem;
  /* font-family: 'MyFont', sans-serif; */
  font-family: Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
  margin-left: 4rem;
}

#logo{
  margin-left: 5rem;
}

#todoForm{
  display: flex;
  flex-direction: column;
  padding: 0.25rem
}

#todoForm textarea{
  margin: 0.5rem;
  width: 50%;

}

#formBtns i{
  margin: 0.75rem;
}